<div class="container">
    <form class="px-4 py-3">
        <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" name='email' placeholder="email@example.com" [(ngModel)]="email">
        </div>
        <div class="mb-3">
            <label class="form-label">{{securityQuestion}}</label>
            <input type="password" class="form-control" name='securityAnswer' placeholder="Security Answer" [(ngModel)]="securityAnswer">
        </div>
        <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" name='password' placeholder="Password" [(ngModel)]="password">
        </div>
        <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" class="form-control" name='confirmpassword' placeholder="Confirm Password" [(ngModel)]="confirmpassword">
        </div>
        <button type="button" class="btn btn-primary" (click)="changePassword()">Change Password</button>
        <button type="button" routerLink="/login" class="btn btn-danger mx-2">Cancel</button>
    </form>
</div>